<aside class="border border-titan-600 rounded-md h-fit md:max-w-72" oninput="updateForm()">
    <div class="p-4 flex items-center justify-between" onclick="toggleFilter()">
        <h1 class="text-lg font-bold">Filter</h1>
        <div class="md:hidden">
            <img id="filter-chevron" width="24" src="{{ url_for('static', filename="img/chevron-left.svg") }}">
        </div>
    </div>

    <div id="filter-content" class="p-4 pt-0 hidden md:block">
        <hr>
        <h2 class="font-bold">Availability</h2>
        <div class="filter">
            <span>
                <input type="checkbox" name="available" value="true" {% if form.get("available") == 'true' or form|length == 0 %}checked{% endif %}>
                <label>Available</label>
            </span>
            <span>
                <input type="checkbox" name="not-available" value="true" {% if form.get("not-available") == 'true' or form|length == 0 %}checked{% endif %}>
                <label>Not Available</label>
            </span>
        </div>
        <hr>
        <h2 class="font-bold">Weight</h2>
        <div class="filter">
            <span>
                {{ filters[0][0]  }}
            </span>
            <input
                    type="range"
                    name="weight"
                    min="{{ filters[0][0] }}"
                    max="{{ filters[0][1] }}"
                    value="{{ form["weight"] or filters[0][1] }}"
            >
            <span>
                {{ filters[0][1]  }}
            </span>
        </div>
        <div id="filter-weight" class="text-center">{{ form["weight"] or filters[0][1] }}</div>
        <hr>
        <h2 class="font-bold">Weight limit</h2>
        <div class="filter">
            <span>{{ filters[1][0]  }}</span>
            <input type="range" name="weight_lim" min="{{ filters[1][0] }}"
                                   max="{{ filters[1][1] }}" value="{{ form["weight_lim"] or filters[1][1] }}">
            <span>{{ filters[1][1]  }}</span>
        </div>
        <div id="filter-weight-lim" class="text-center">{{ form["weight_lim"] or filters[1][1] }}</div>
        <hr>
        <h2 class="font-bold">Body size</h2>
        <div class="filter">
            {% for size in filters[2] %}
                <span><input name="size" type="checkbox" value="{{ size[0] }}" {% if size[0] in form.getlist('size')%}
                             checked{% endif %}><label>{{ size[0] }}
                    </label>
                </span>
            {% endfor %}
        </div>
        <hr>
        <h2 class="font-bold">Wheel size</h2>
        <div class="filter">
            {% for wsize in filters[3] %}
                <span><input name="wsize" type="checkbox" value="{{ wsize[0] }}" {% if wsize[0] in
                        form.getlist('wsize')%}checked{% endif %}><label>{{ wsize[0] }}
                    </label>
                </span>
            {% endfor %}
        </div>
        <hr>
        <h2 class="font-bold">Material</h2>
        <div class="filter">
            {% for material in filters[4] %}
                <span><input name="material" type="checkbox" value="{{ material[0] }}" {% if material[0] in
                        form.getlist('material')%}checked{% endif %}>
                    <label class="filter-label">{{ material[0] }}</label></span>
            {% endfor %}
        </div>
        <hr>
        <h2 class="font-bold">Gear</h2>
        <div class="filter">
            {% for gear in filters[5] %}
                <span>
                    <input name="gear" type="checkbox" value="{{ gear[0] }}"
                        {% if gear[0]|string in form.getlist('gear')%}checked{% endif %}>
                    <label>{{ gear[0] }}</label>
                </span>
            {% endfor %}
        </div>
        <hr>
        <h2 class="font-bold">Price</h2>
        <div class="filter">
            <span>{{ filters[6][0] }}</span>
            <input type="range" name="bprice" min="{{ filters[6][0] }}" max="{{ filters[6][1] }}" value="{{ form["bprice"] or filters[6][1] }}">
            <span>{{ filters[6][1] }}</span>
        </div>
        <hr>
        <div id="filter-bprice" class="text-center">{{ form["bprice"] or filters[6][1] }}</div>

        <span class="flex justify-end"><button class="bg-primary px-2 py-2 my-1 rounded-md text-titan-50
                                                        text-sm" type="submit">Apply</button>
        </span>
    </div>
    <script>
        const toggleFilter = () => {
            console.log("z")
            const content = document.getElementById("filter-content")
            content.classList.toggle("hidden")
            document.getElementById("filter-chevron").src = content.classList.contains("hidden")
                ? "{{ url_for('static', filename="img/chevron-left.svg") }}"
                : "{{ url_for('static', filename="img/chevron-down.svg") }}"
        }
        const updateForm = () => {
            const form = document.querySelector("form")
            document.getElementById("filter-weight").innerText = form.weight.value
            document.getElementById("filter-weight-lim").innerText = form.weight_lim.value
            document.getElementById("filter-bprice").innerText = form.bprice.value
        }
        updateForm()
    </script>
</aside>
