<aside class="mt-2 border-2 border-titan-600 rounded-md px-1">
    <h1 class="text-lg font-bold">Filter</h1>
    <hr>
    <h2 class="font-bold">Availability</h2>
    <hr>
    <h2 class="font-bold">Weight</h2>
    <hr>
    <h2 class="font-bold">Weight limit</h2>
    <hr>
    <h2 class="font-bold">Body size</h2>
    <hr>
    <h2 class="font-bold">Wheel size</h2>
    <hr>
    <h2 class="font-bold">Material</h2>
    <hr>
    <h2 class="font-bold">Gear</h2>
</aside>