{% extends '__page.jinja' %}

{% block title %}Homepage{% endblock %}

{% block body %}
	<h1 class="text-xl font-bold">Our sortiment</h1>
    <input type="search" placeholder="Find bike you wish">
{% endblock %}