<div class="gap-4 flex justify-center h-fit">
            <img src="data:image/jpeg;base64,{{ bike.image }}" alt="" class="size-56">
            <div class="flex flex-col gap-2">
                <h2 class="font-bold text-2xl">{{ bike.name }}</h2>
                <hr>
                <article>
                    <h2 class="font-bold text-lg">Description</h2>
                    {{ bike.description }}
                </article>
            </div>
</div>