<div class="gap-2 flex flex-col justify-start h-max">
     <h2 class="font-bold text-2xl">Other details</h2>
     <hr>
     <div class="flex flex-col">
         <span><label>Date from:</label> <label name="today"></label></span>
         <span><label>Date to:</label> <input name="to" onchange="calc()" class="border-2"
                                              type="datetime-local"></span>
         <hr class="mb-1">
         <span><label>Price per day:</label> {{ bike.price }} Kč</span>
         <span><label name="days"></label></span>
         <span>

         </span>
     </div>
    <script>
        window.onload = function() {
                var currentDate = new Date();
                var formattedDate = currentDate.toLocaleString();
                var dateLabel = document.querySelector('label[name="today"]');
                dateLabel.innerHTML = formattedDate;
        };

        function calc(){
            let to_value = new Date(document.getElementsByName("to")[0].value)
            let from_value = new Date()
            let daysLabel = document.querySelector('label[name="days"]')
            diffInMs = to_value - from_value;
            var diffInDays = Math.floor(diffInMs / (1000 * 60 * 60 * 24));
            diffInMs -= diffInDays * (1000 * 60 * 60 * 24);
            var diffInHours = Math.ceil(diffInMs / (1000 * 60 * 60)); // Změna na Math.ceil
            daysLabel.innerHTML = "Period: " + diffInDays + " days " + diffInHours + " hours";
        }
    </script>
</div>