<div class="gap-2 flex flex-col justify-start h-max">
     <h2 class="font-bold text-2xl">Other details</h2>
     <hr>
     <div class="flex flex-col">
         <span><label>Date from:</label> <label name="today"></label></span>
         <span><label>Date to:</label> <input name="to" onchange="calc()" onblur="calc()" class="border-2"
                                              type="datetime-local"></span>
         <hr class="my-1">
         <span><label>Price per day:</label> {{ bike.price }} Kč</span>
         <span><label name="days"></label></span>
         <span class="mt-1">
            <label>To pay:</label>
         </span>
     </div>
    <script>
        function todaysDate() {
                var currentDate = new Date();
                var day = ('0' + currentDate.getDate()).slice(-2);
                var month = ('0' + (currentDate.getMonth() + 1)).slice(-2);
                var year = currentDate.getFullYear();
                var hours = ('0' + currentDate.getHours()).slice(-2);
                var minutes = ('0' + currentDate.getMinutes()).slice(-2);
                var formattedDate = day + '.' + month + '.' + year;
                var formattedTime = hours + ':' + minutes
                let dateLabel = document.querySelector('label[name="today"]');
                dateLabel.innerHTML = formattedDate + " " + formattedTime;
        };

        window.onload = todaysDate();

        function calc(){
            todaysDate();
            let to_value = new Date(document.getElementsByName("to")[0].value)
            let from_value = new Date()
            let daysLabel = document.querySelector('label[name="days"]')
            diffInMs = to_value - from_value;
            let diffInDays = (diffInMs/1000)/60/60/24;
            let diffInHo = Math.ceil((diffInDays - Math.trunc(diffInDays))*24)
            if (diffInHo == 24){
                diffInHo = 0
                diffInDays++;
            }
            daysLabel.innerHTML = "Period: " + Math.trunc(diffInDays) + " days " + diffInHo + " hours";
        }
    </script>
</div>