{% extends '__page.jinja' %}

{% block title %}Borrow{% endblock %}

{% block body %}
    <div class="flex h-max flex-col md:flex-row grow justify-center items-center gap-12">
        {% include 'borrow/bike.jinja' %}
        {% include 'borrow/calculation.jinja' %}
    </div>
{% endblock %}