{% extends '__page.jinja' %}

{% block title %}
    Bikes management
{% endblock %}
{% block body %}
    <div class="my-10 px-10 w-full flex justify-end">
        <a href="{{ url_for("bikes_management.add_page") }}">
            <img src="{{ url_for('static', filename='img/plus.svg') }}">
        </a>
    </div>
    <table class="border-collapse border border-titan-400">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Weight</th>
            <th>Body size</th>
            <th>Wheel size</th>
            <th>Body material</th>
            <th>Gear number</th>
            <th>Weight limit</th>
            <th>Is available</th>
            <th>Is shown</th>
            <th>Options</th>
        </tr>
    {% for bike in bikes %}
    	<tr>
            <td class="px-2 border border-titan-400">{{ bike.bike_id }}</td>
            <td class="px-2 border border-titan-400">{{ bike.name }}</td>
            <td class="px-2 border border-titan-400"><img src="data:image/jpeg;base64,{{ bike.image }}" alt="" class="w-10"></td>
            <td class="px-2 border border-titan-400">{{ bike.description }}</td>
            <td class="px-2 border border-titan-400">{{ bike.weight }}</td>
            <td class="px-2 border border-titan-400">{{ bike.body_size }}</td>
            <td class="px-2 border border-titan-400">{{ bike.wheel_size }}</td>
            <td class="px-2 border border-titan-400">{{ bike.body_material }}</td>
            <td class="px-2 border border-titan-400">{{ bike.gear_number }}</td>
            <td class="px-2 border border-titan-400">{{ bike.weight_limit }}</td>
            <td class="px-2 border border-titan-400">{{ "yes" if bike.is_available else "no" }}</td>
            <td class="px-2 border border-titan-400">{{ "yes" if bike.is_shown else "no" }}</td>
            <td class="px-2 border border-titan-400">
                <div class="flex justify-center gap-2">
                    <a href="{{ url_for("bikes_management.edit_page", bike_id=bike.bike_id) }}">
                        <img class="h-6 w-6" src="{{ url_for('static', filename='img/pencil.svg') }}">
                    </a>
                    <a href="{{ url_for("bikes_management.remove", bike_id=bike.bike_id) }}">
                        <div class="h-6 w-6 bg-red-500"
                             style="mask-image: url('{{ url_for('static', filename='img/trash.svg') }}'); mask-repeat: no-repeat; mask-size: cover;"></div>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}