{% extends '__page.jinja' %}

{% block body %}
    <div>
        {% for borrow in borrows %}
        	<div>{{ borrow.datetime_from }}</div>
        	<div>{{ borrow.datetime_to }}</div>
        {% endfor %}

    </div>
{% endblock %}