<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.tailwindcss.com/3.4.15"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>{% block title %}{% endblock %} | Jolt</title>
</head>
<body class="min-h-screen flex flex-col m-0">
    {% include 'components/header.jinja' %}
    {% if request.endpoint == 'index' %}
    	{% include 'components/banner.jinja' %}
    {% endif %}
    <div class="w-full relative {% if request.endpoint == 'index' %} shadow-[0_-20px_16px_16px_#fff] {% endif %} py-5 grow flex">
        <main class="max-w-screen-xl mx-auto px-5">
            {% block body %}

            {% endblock %}
        </main>
    </div>
    {% include 'components/footer.jinja' %}
</body>
</html>