{% extends '__page.jinja' %}
{% from 'macros/form.jinja' import form_field, form_submit, form_cancel %}

{% block title %}
    Login
{% endblock %}
{% block body %}
    <div class="min-h-full flex justify-center items-center flex-col grow">
        <div class="flex flex-col items-center bg-titan-100 p-2 gap-1 w-56 rounded-md">
            <h1 class="text-xl  font-bold mb-1">Login</h1>
            <form method="post">
                {{ form_field(form.login) }}
                {{ form_field(form.password) }}
                <div class="flex justify-end gap-20">
                    <div class="mt-4 mb-1">{{ form_cancel(redirect=url_for('index')) }}</div>
                    <div class="mt-4 mb-1">{{ form_submit("Login") }}</div>
                </div>
            </form>
        </div>
        <div>Ještě nemáte účet, nevadí, registrujte se
                        <a href="{{ url_for("register_page") }}">zde</a></div>
    </div>
{% endblock %}