{% extends '__page.jinja' %}

{% block body %}
    <div>
        Profilecek <3
    </div>
    <a href="{{ url_for('logout') }}">
        <button>
            Logout
        </button>
    </a>
{% endblock %}