{% from 'macros/form.jinja' import form_field, form_submit, form_cancel %}

<div class="flex flex-col items-center bg-titan-100 p-2 gap-1 w-56 rounded-md border border-titan-500">
    <h1 class="text-xl  font-bold mb-1">Login</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form_field(form.login) }}
        {{ form_field(form.password) }}
        <div class="flex justify-end gap-20">
            <div class="mt-4 mb-1">{{ form_cancel(redirect=url_for('index.page')) }}</div>
            <div class="mt-4 mb-1">{{ form_submit("Login") }}</div>
        </div>
    </form>
</div>