<div class="relative w-full h-40 md:h-64 bg-gray bg-titan-950 flex justify-center items-end">
    <div class="
        absolute w-full h-full opacity-40 bg-cover bg-[center_35%]
        bg-[url('{{ url_for('static', filename="img/banner.jpg") }}')]
    "></div>

    <div class="z-10 mb-16 relative text-center drop-shadow-lg">
        <h1 class="font-bold text-4xl md:text-6xl text-titan-50">Jolt</h1>
        <blockquote class="text-titan-100 text-md md:text-lg">Ride a bike with an energy!</blockquote>
    </div>
</div>