<header class="flex justify-center bg-titan-100 shadow-xl relative z-50">
    <div class="flex justify-between grow pt-2 pb-1 md:py-4 px-8 max-w-screen-xl">
        <a class="flex no-underline text-titan-950" href="{{ url_for('index.page') }}">
            <img alt="" class="h-8 mr-2" src="{{ url_for('static', filename='img/favicon.svg') }}">
            <p class="text-2xl font-semibold">Jolt</p>
        </a>
        <div class="flex mt-0.5 gap-4">
            {% if session['role'] == "employee" %}
                <a href="{{ url_for('bikes_management.page') }}">
                    <img alt="" class="h-7" src="{{ url_for('static', filename='img/wrench.svg') }}">
                </a>
            {% endif %}
            <a
                {% if session['authenticated'] %}
                   href="{{ url_for('user_profile.page') }}"
                {% else %}
                   href="{{ url_for('login_page.page') }}"
                {% endif %}
            >
                <img alt="" class="h-7"
                    {% if session['authenticated'] %}
                       src="{{ url_for('static', filename='img/user.svg') }}"
                    {% else %}
                        src="{{ url_for('static', filename='img/log-in.svg') }}"
                    {% endif %}
                >
            </a>
            {% if session['authenticated'] %}
            <a href="{{ url_for('logout_v.logout') }}">
                <div class="h-7 w-7 bg-red-500"
                     style="mask-image: url('{{ url_for('static', filename='img/log-out.svg') }}'); mask-repeat: no-repeat; mask-size: cover;"></div>
            </a>
            {% endif %}
        </div>
    </div>
</header>